* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
  #logo-main {
    display: block;
    margin: 20px auto;
  }
  

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
  .navbar-nav { 
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }
}
#navbar {
    display: flex;
    justify-content: center;
}

#navbar a {
    text-decoration: none;
    color: rgb(77, 49, 49);
    padding: 24px;
}
#navbar a:hover {
  transform: scale(1.1);
}
.center-column {
  margin: 0px auto;
  justify-content: center;
  display: flex;
}
.about-card {
  position: relative;
  width: 300px;
  margin: 50px auto;
  text-align: center;
  cursor: pointer;
}
.about-card .about {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.about-card:hover .greeting {
  display: none;
}

.about-card:hover .about {
  display: block;
  opacity: 1;
}
#homepage-text {
  width: 600px;
  margin: 48px auto;
  font-size: 20px;
  text-align: center;
}
#homepage-text h2 {
  text-align: center;
  line-height: 3.0;
  font-family: 'Times New Roman', Times, serif;
  color: #744e69;
}